*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Thin'), local('Helvetica-Neue-Thin'),
        url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neuer';
    src: local('Helvetica Neue Roman'), local('Helvetica-Neue-Roman'),
        url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Helvetica Neueb';
    src: local('Helvetica Neue Bold'), local('Helvetica-Neue-Bold'),
        url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }




header{
    width: 100%;
    position: relative;
    height: 56.18px;
    background: #FDFDFD;
    -webkit-box-shadow: 1px 9px 14px 4px rgba(0,0,0,0.1); 
    box-shadow: 1px 4px 14px 0px rgba(0,0,0,0.1);
}

header a.logo{
    position: absolute;
    left: 15px;
    top: 23px;
}

header a.user{
    position: absolute;
    left: 330px;
    top: 20px;
}

.top__banner{
    width: 345px;
    height: 122px;
    background: #49AE49;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: auto;
    margin-top: 25px;
}

.top__banner div{
    font-family: 'Helvetica Neue';
    width: 173px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #FBFBFB;
    margin-left: 25px;
}

.top__banner div.images{
    position: absolute;
    width: 100px;
    left: 180px;
    height: 140px;
    bottom: 0px;
}

.top__banner div.images div {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 0;
}
.top__banner div.images div img {
    position: absolute;
    left: 90px;
    bottom: 0;
}
.top__banner div.images div img:first-child {
    position: absolute;
    left: 0;
}


.nav{
    overflow: visible;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    right: 0;
    width: 100%; /* Full width */
    width: 100%;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.nav div a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav div a p{
    margin-top: 7.5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.5px;

    color: #6B6B6B;
}
.nav div a.active p{
    margin-top: 7.5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.5px;

    color: #49AE49;
}

.ont{
    height: 550px;
    margin-top: 25px;
}

.ont h1{
    font-family: "Helvetica Neueb";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    margin-left: 15px;

    color: #000000;

}

.ont h2{
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */

    letter-spacing: 0.01em;
    margin-top: 10px;
    color: #7D7D7D;
}

.pre__form{
    width: 92%;
    height: 128px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    margin-top: 25px;
    margin: 15px auto ;
    padding: 20px 19px;
}

.pre__form h1{
    font-family: "Helvetica Neuer";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* identical to box height, or 22px */

    letter-spacing: 0.01em;

    color: #000000;
}

.pre__form{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-top: 5px;
}

form input{
    background: #F9F9F9;
    width: 69,18%;
    height: 50px;
    padding: 16px 20px;
    border-radius: 3px;
}

form input::placeholder{
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 125%;
    /* identical to box height, or 17px */

    letter-spacing: 0.01em;

    color: #7D7D7D;
}

form button{
    width: 30.82%;
    height: 50px;
    background: #E1E1E1;
    border-radius: 3px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #7D7D7D;

}


.con__in{
    height: 174px;
    display: flex;
    flex-direction: row;
    padding: 20px 15px;
}

.f__con div:first-child{
    justify-content: flex-start;
}

.f__con div{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
}

.f__con div span{
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: 0.01em;

    color: #7D7D7D;
}

.f__con div p {
    font-family: "Helvetica Neuer";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* identical to box height, or 22px */

    letter-spacing: 0.01em;

    color: #000000;
    margin-top: 10px;
}

.f__con div img {
    margin-top: 10px;
}

.ont__main{
    margin-top: 30px;
}

.ont__main .p{
    background: #F9F9F9;
}

.s__con{
    width: 100%;
    height: 100%;
    padding: 0 0 0 30px;
}

.s__con span:first-child{
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: 0.01em;

    color: #7D7D7D;

}

.s__con p{
    font-family: "Helvetica Neuer";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    letter-spacing: 0.01em;

    color: #7D7D7D;
}

.s__con p span:first-child{
    font-family: "Helvetica Neuer";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    letter-spacing: 0.01em;

    color: #000;
}

.s__con div{
    margin-top: 10px;
}

.s__con a{
    float: left;
    font-family: "Helvetica Neuer";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
text-decoration-line: underline;

color: #40B447;
margin-top: 20px;

}

.s__con a img{
    margin-left: 5px;
    margin-top: 10px;
    transform: rotate(180deg);
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Thin'), local('Helvetica-Neue-Thin'),
        url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neuer';
    src: local('Helvetica Neue Roman'), local('Helvetica-Neue-Roman'),
        url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Helvetica Neueb';
    src: local('Helvetica Neue Bold'), local('Helvetica-Neue-Bold'),
        url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 55px;
    position: relative;
    background: #FDFDFD;
    -webkit-box-shadow: 1px 9px 14px 4px rgba(0,0,0,0.1); 
    box-shadow: 1px 4px 14px 0px rgba(0,0,0,0.1);
}

header button{
    background: none;
    position: absolute;
    left: 28.16px;
}

.order{
    margin: 25px 15px;
}

.order h1{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}

header .user{
    position: absolute;
    right: 15px;
    background: url(../img/Vector.png) no-repeat, #F1F1F1;
    background-position: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}



.payment h1{
    font-family: 'Helvetica Neueb';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
    margin: 0 15px;
}

.main__info{
    background: #F9F9F9;
    width: 100%;
    height: 1189px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
}

.top__inf{
    display: flex;
}

.top__inf div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.top__inf div:first-child{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.top__inf div span:first-child{
    margin-bottom: 10px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: 0.01em;

    color: #7D7D7D;
}

.top__inf div p{
    font-family: 'Helvetica Neuer';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* identical to box height, or 22px */

    letter-spacing: 0.01em;

    color: #000000;
}

.br{
    width: 100%;
    height: 1px;
    background: #7D7D7D;
    opacity: 0.2;
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin: 22px auto;
}

.sec__inf h3{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: 0.01em;

    color: #7D7D7D;
}

.sec__inf div{
    margin-top: 10px;
}

.sec__inf p{
    font-family: "Helvetica Neuer";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    letter-spacing: 0.01em;

    color: #000000;

}

.sec__inf p span{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: 0.01em;

    color: #7D7D7D;

}

.th__inf h3{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: 0.01em;

    color: #7D7D7D;
    margin-bottom: 10px;
}

.th__inf p{
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    letter-spacing: 0.01em;

    color: #7D7D7D;
}


.th__inf p span{
    font-family: "Helvetica Neuer";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    letter-spacing: 0.01em;

    color: #000000;
}

.fr__inf h3{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: 0.01em;

    color: #7D7D7D;
    margin-bottom: 10px;
}

.fr__inf p{
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    letter-spacing: 0.01em;

    color: #7D7D7D;
}


.fr__inf p span{
    font-family: "Helvetica Neuer";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    letter-spacing: 0.01em;

    color: #000000;
}

.fr__inf p.price{
    font-family: "Helvetica Neueb";
    font-style: normal;
    font-weight: bold;
    font-size: 41px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #40B447;
}

.main__info button{
    width: 345px;
    height: 51px;

    background: #40B447;
    border-radius: 3px;
    font-family: "Helvetica Neuer";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    margin-top: 20px;

    color: #FFFFFF;
}

.dop__dost__us{
    display: flex;
    flex-direction: column;
    
}

.dop__dost__us a{
    font-family: "Helvetica Neuer";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* identical to box height, or 22px */

    letter-spacing: 0.01em;
    text-decoration: underline;

    color: #000000;
}

.sec__inf__sec{
    margin-top: 20px;
}