*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Thin'), local('Helvetica-Neue-Thin'),
        url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

@media screen and (min-width: 375px) {
	body{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.header{
		position: relative;
		background: #49AE49;
		width: 345px;
		height: 642px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-bottom: transparent;
	}
	.header img.img__bottom{
		position: absolute;
		bottom: 0rem;
	}
	.header .cont{
		position: absolute;
		top: 120px;
	}
	.cont p{
		font-family: 'Helvetica Neue';
		font-style: normal;
		font-weight: 300;
		font-size: 20px;
		line-height: 120%;
		text-align: center;
		letter-spacing: -0.01em;
		margin-top: 19px;
		color: #FBFBFB;
	}
}